@mixin label() {
    display: inline-block;
    position: absolute;
    top: -7px;
    left: 10px;
    padding: 0 3px;
    color: #262262;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    background-color: #FFFFFF;
}

@mixin input($height) {
    display: block;
    border: 1px solid #DADADA;
    outline: none;
    color: #262262;
    width: 100%;
    padding: 13px 13px;
    height: $height;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 1;
}



.formRequest-container {
    padding: 0 60px;
    margin: 0 auto;
}

.formRequest {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__title {
        margin-bottom: 23px;
        position: relative;
        width: 48%;
        display: inline-block;

        label {
            @include label();
        }

        input {
            @include input(60px);
        }
    }

    &__request {
        margin-bottom: 23px;
        position: relative;
        width: 48%;

        label {
            @include label();
        }

        textarea {
            resize: none;
            @include input(120px);
        }
    }

    button {
        width: 230px;
        height: 60px;
        border: 1px solid #222222;
        background-color: #222222;
        color: #FFFFFF;
        outline: none;
        box-shadow: none;
        transition: all .3s ease;
        cursor: pointer;
        font-size: inherit;
    }

    button:hover {
        background-color: #FFFFFF;
        color: #222222;
    }

    &__group-button {
        margin-top: 30px;
        button:first-child {
            margin-right: 20px;
        }
    }

    &__gender {
        background-color: #FFFFFF;
        display: block;
        margin: 10px 0;
        position: relative;
    }
}
