@import "../../constants/color";

@mixin parallax($image, $color){
    color: $color;

    &__parallax {
        width: 100vw;
        height:100vh;
        padding-top:20vh;
        box-sizing: border-box;
        transform-style: preserve-3d;

        &__content {
            text-align: center;
            margin-top: -100px;
            font-size: 40px;
        }
    }

    &__parallax:before {
        background-image: $image;
        content:"";
        width: 100vw;
        height: 100vh;
        top:0;
        left:0;
        position: absolute;
        z-index: -1;
        transform:translateZ(-1px) scale(2);
    }
}

@mixin regular($image, $color) {
    color: $color;
    width: 100vw;
    height:100vh;
    padding-top:20vh;
    background-image: $image;
    background-repeat: no-repeat;
    z-index: 2;
    position: relative;

    &__content {
        text-align: center;
        font-size: 40px;
    }
}

.about {
    height: 100vh;
    overflow-x:hidden;
    overflow-y: auto;
    perspective: 1px;
    width: 100vw;
    position: relative;

    &__link {
        text-decoration: none;
        font-size: 18px;
        color: $black;
    }

    &__button-back {
        position: fixed;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        left: 50px;
        bottom: 0;
        right: 0;
        color: $red;
        z-index: 3;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border-radius: 50%;
    }

    &__regular-one {
        @include regular(url("../../assets/images/parallax_2.jpeg"), #FFFFFF);
    }

    &__regular-two {
        @include regular(url("../../assets/images/parallax_4.jpg"), #222222);
    }

    &__parallax-wrapper-one {
        @include parallax(url("../../assets/images/parallax_1.PNG"), #FFFFFF);
    }

    &__parallax-wrapper-two {
        @include parallax(url("../../assets/images/parallax_3.jpg"), #222222)
    }
}