.header {
    padding: 45px 60px;
    background: #FFFFFF;
    transition: .3s ease-in-out;
    height: 100px;

    &__container {
        display: flex;
        justify-content: space-between;
        z-index: 90;
        position: relative;

        &--logo {
            font-size: 85px;
            font-weight: 700;
            color: #222222;
            animation: blur .75s ease-out infinite;
            text-shadow: 0 0 5px #222222, 0 0 0 7px #222222;
            transform: scale(0.7);
        }

        &__nav {
            display: flex;
            flex-direction: row;

            &--item {
                margin-right: 50px;

                a {
                    font-weight: 600;
                    font-size: 28px;
                    color: #11152C;
                    transition: .3s ease-in-out;
                    text-decoration: none;
                }

                a:hover {
                    color: #C4C4C4;
                    transition: .3s ease-in-out;
                }
            }

            &--item:last-child {
                margin-right: 0;
            }

            &--item-list {
                list-style: none;
                margin: 0;

                li:last-child {
                    margin-top: 20px;
                }
            }


        }
    }
}

@keyframes blur {
    0% {
        transform: scale(0.7);
    }
    16% {
        transform: scale(0.8);
    }
    32% {
        transform: scale(0.9);
    }
    48% {
        transform: scale(1);
    }
    64% {
        transform: scale(0.9);
    }
    80% {
        transform: scale(0.8);
    }
    96% {
        transform: scale(0.7);
    }

}