@import "../../constants/color";

.post-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-top: 15px;
    position: relative;
    overflow: hidden;
    animation: wroom-card .7s ease-in;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    }

    &__img {
        width: 100%;
        height: 220px;
    }

    &__title {
        font-size: 30px;
        color: #fff;
        text-align: center;
        margin: 5px 13px 0;
    }
}

@keyframes wroom-card {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}


.slider {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    transform: translate3d(-100%, 0, 0);
    color: #FFF;
    background-color: rgba(0,0,0,0.8);
    z-index: 10;

    &__enter--top {
        transform: translate3d(0, 0, 0);
        animation: slide-enter-top .3s;
    }

    &__enter--left {
        transform: translate3d(0, 0, 0);
        animation: slide-enter-left .3s;
    }

    &__enter--right {
        transform: translate3d(0, 0, 0);
        animation: slide-enter-right .3s;
    }

    &__enter--bottom {
        transform: translate3d(0, 0, 0);
        animation: slide-enter-bottom .3s;
    }

    &__leave--top {
        transform: translate3d(0, -100%, 0);
        animation: slide-leave-top .3s;
    }

    &__leave--left {
        transform: translate3d(-100%, 0, 0);
        animation: slide-leave-left .3s;
    }

    &__leave--right {
        transform: translate3d(100%, 0, 0);
        animation: slide-leave-right .3s;
    }

    &__leave--bottom {
        transform: translate3d(0, 100%, 0);
        animation: slide-leave-bottom .3s;
    }
}

@keyframes slide-enter-top {
    0% {
        transform: translate3d(0, -100%, 0);
    }
}

@keyframes slide-enter-left {
    0% {
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes slide-enter-right {
    0% {
        transform: translate3d(100%, 0, 0);
    }
}

@keyframes slide-enter-bottom {
    0% {
        transform: translate3d(0, 100%, 0);
    }
}

@keyframes slide-leave-top {
    0% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-leave-left {
    0% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-leave-right {
    0% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes slide-leave-bottom {
    0% {
        transform: translate3d(0, 0, 0);
    }
}

