@import "../../constants/color";

@mixin card($background, $color) {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background: $background;
    color: $color;
    text-align: center;
    line-height: 40px;
    overflow: hidden;
    overflow-wrap: break-word;
    backface-visibility: hidden;
    border-radius: 2px;
}

.user-request {
    padding: 20px 50px;
    width: 250px;
    height: 300px;
    position: relative;

    &__label {
        transform-style: preserve-3d;
        display: block;
        width: 350px;
        height: 250px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;

        &:hover .user-request__card {
            transform: rotateX(20deg);
            box-shadow: 0 20px 20px rgba(50, 50, 50, .2);
        }

        &:hover :checked + .user-request__card {
            transform: rotateX(160deg);
            box-shadow: 0 20px 20px rgba(255, 255, 255, .2);
        }
    }

    &__checkbox {
        display: none;

        &:checked + .user-request__card {
            transform: rotateX(180deg);
        }
    }

    &__card {
        position: relative;
        height: 100%;
        width: 100%;
        transform-style: preserve-3d;
        transition: all 600ms;
        z-index: 20;

        &__front {
            @include card(#C0C0C0, $black);
        }

        &__back {
            @include card($black, #fff);
            transform: rotateX(180deg);
        }
    }
}
